<% @text_input_width = 50 %>
<h4>
<%= link_to "总数：", :action => :btc_income %>
  <span title="<%=@my_btc%>"><span class="gold_warn"><%=show_btc_sum(format("%.9f",@btc_sum))%></span><-<%=show_btc_sum(format("%.9f",@btc_sum_ex))%></span>|<span title="总数：<%=@trezor_jie7206_sum%>，占比：<%=@trezor_jie7206_p%>%，成本：<%=@trezor_cost_twd%>，均价：$<%=@trezor_ave_price%>，投资报酬率：<%=@trezor_profit%>%"><%=@trezor_jie7206_twd%></span>/<%=@btc_value_twd%>|¥<%=@btc_value_cny%>|$<%=@btc_value_usd%><br/>
<%= link_to "获利：", :action => :btc_income, :update_btc_price => 1 %>
  <%=@btc_total_profit_twd%>|¥<%=@btc_total_profit_cny%>|$<%=@btc_total_profit_usd%>|<%=format("%.0f", @btc_total_profit_rate)%>%|<span title="初始本金：<%=@btc_total_budget_warning%>，可用余额：<%=@total_usdt_twd.to_i%>(USDT)+<%=@total_twd%>(中信托)+<%=@loanable_twd%>(金如意)|¥<%=@total_usdt_cny%>|$<%=@total_usdt_usd%>，贷款利息：<%=@total_loan_interests_value%>，从<%=@loan_begin_date%>到<%=@next_jinruyi_back_date%>共有<%=@loan_lixi_days%>天，届时贷款余额为<%=@loan_amount%>"><%=@total_budget_twd%><span title="在火币交易所内实际可用的USDT余额(点击切换账号)">(<%= link_to @total_usdt_usd_ex, :action => :switch_account, :aid => @aid %>)</span></span>-><span title="到下次新资金进来为止(<%=@next_btc_invest_date%>)，平均每天能定投 <%=@everyday_invest_amount%> 新台币"><%=@everyday_invest_amount%></span>/<span title="最多能持有的比特币总数"><%=format("%.3f",@max_ex_sum)%>/<%=format("%.3f",@max_btc_sum)%></span>
  <br/>
<%= link_to "仓位：", :action => :btc_income, :update_btc_price => 1, :get_kline_data => 1 %>
  <span title="¥<%=@ex_cost_cny%>|$<%=@ex_cost_usd%>"><%=@ex_cost_twd%></span>|<%=format("%.2f",@ex_cost_twd_level)%>%|<span title="¥<%=@btc_hold_cny%>|$<%=@btc_hold_usd%>"><%=@btc_hold_twd%></span>/<span class="<%=@btc_total_budget_warn%>" title="现值：¥<%=@btc_total_budget_cny%>|$<%=@btc_total_budget_usd%>，初始本金：<%=@btc_total_budget_warning%> TWD"><%=@btc_total_budget_twd%></span>|<%=format("%.2f",@btc_hold_twd_level)%>%
  均价:<%=@trezor_ave_price%>/<span class="<%=@ave_price_warn%>"> <%=format("%.2f", @unit_ave_price)%>
    <% if @ave_price_warn == 'red_warn' %>
      <span class="small_price_diff"><%=@aveprice_now_diff_str%></span>
    <% end %></span>

  <br/>
<%= link_to "损益：", :action => :btc_income, :aid => @aid, :update_btc_price => 1, :update_huobi_assets => 1, :get_btc_orders => 1 %>
  <span class="<%=@btc_price_warn%>">
  <%= link_to format("%.2f",@btc_price), "http://playruby.top:3002/main/kline_chart?symbol=#{@symbol}&period=5min", {:target => "_blank", :title => "汇率：C2T:#{@cny2twd}|U2T:#{@usd2twd}|U2C:#{@usd2cny}|U2H:#{@usdt2husd}"} %></span>|<span class="<%=@twd_profit_warn%>"><%=@btc_profit_twd%></span>|<span class="<%=@cny_profit_warn%>">¥<%=@btc_profit_cny%></span>|<span class="<%=@usd_profit_warn%>">$<%=@btc_profit_usd%></span>|<span class="<%=@btc_profit_warn%>"><%=format("%.1f", @btc_profit_rate)%>%</span><span title="点击后即可以平仓目标价卖出(预先保留要赚取的<%=@btc_harvest_unit%>BTC及包含每月<%=@btc_month_goal_twd%>|¥<%=@btc_month_goal_cny%>|$<%=@btc_month_goal_usd%>的收益)">
    <% if @btc_sum_ex-@btc_harvest_unit > 0 %>
    <%= link_to "平仓:", "/main/btc_income?clear_sell_all=1&try_buy_price=#{@settle_price}&try_buy_unit=-#{show_btc_sum((@btc_sum_ex-@btc_harvest_unit).to_s)}" %>
    <% else %>
      平仓:
    <% end %>
    <span class="<%=@harvest_unit_warn%>" title="点击后立刻以现价清仓全部卖出"><%= link_to format("%.4f",@settle_profit), "/main/btc_income?clear_sell_all=1&try_buy_price=#{@btc_price}&try_buy_unit=-#{show_btc_sum(@btc_sum_ex.to_s)}" %></span>|$<%=@settle_price%>|<%=link_to(@total_asset_value, {:controller => 'param_changes', :action => 'new', :param_id => '129'}, {:title => "¥#{(@total_asset_value/@cny2twd).to_i}|$#{(@total_asset_value/@usd2twd).to_i}", :target => '_blank'})%>|<span title="平均月收入：<%=@ave_month_income_twd%>|¥<%=@ave_month_income_cny%>|$<%=@ave_month_income_usd%>"><%=link_to(format("%.0f",(@ave_month_income_twd/10000.0))+"萬", {:action => "life_pay"}, {:target => "_blank"})%></span></span>
  <br/>
<% if @get_kline_data %>
<%
spt = period_title(@kline_short_period)
lpt = period_title(@kline_long_period)
%>
量能：
<span title="<%=@symbol.upcase%>交易对"><%=spt%>:<span title="MA<%=@short_ma[0]%>"><%=@k60m_ama5%></span>-<span title="MA<%=@short_ma[1]%>"><%=@k60m_ama10%></span>-<span title="MA<%=@short_ma[2]%>"><%=@k60m_ama20%></span>:<span title="买卖比"><%=@bsp60m%></span>|<%=lpt%>:<span title="MA<%=@long_ma[0]%>"><%=@k1d_ama5%></span>-<span title="MA<%=@long_ma[1]%>"><%=@k1d_ama10%></span>-<span title="MA<%=@long_ma[2]%>"><%=@k1d_ama20%></span>:<span title="买卖比"><%=@bsp1d%></span>|<%=@ama_trend%></span>
<br/>
<%
def set_class(name,sign,size,num=@num_of_ma_warn)
  result = (sign == '+' and size >= num) ? 'square_warn' : 'square_warn' # 因为囤币不卖，暂时不看涨，所以改成中性的样式square_warn
  result = (sign == '-' and size >= num) ? 'cold_warn' : result
  result += '_bold' if name == @ave_price_vs_ma
  return result
end
s1_sign = show_sign(@k60m_ma5_updown[0])
s1_size = @k60m_ma5_updown.size
s1_class = set_class('@k60m_ma5',s1_sign,s1_size)
s1_link = "/main/update_ave_price_vs_ma?value=@k60m_ma5"
s2_sign = show_sign(@k60m_ma10_updown[0])
s2_size = @k60m_ma10_updown.size
s2_class = set_class('@k60m_ma10',s2_sign,s2_size)
s2_link = "/main/update_ave_price_vs_ma?value=@k60m_ma10"
s3_sign = show_sign(@k60m_ma20_updown[0])
s3_size = @k60m_ma20_updown.size
s3_class = set_class('@k60m_ma20',s3_sign,s3_size)
s3_link = "/main/update_ave_price_vs_ma?value=@k60m_ma20"
l1_sign = show_sign(@k1d_ma20_updown[0])
l1_size = @k1d_ma5_updown.size
l1_class = set_class('@k1d_ma5',l1_sign,l1_size)
l1_link = "/main/update_ave_price_vs_ma?value=@k1d_ma5"
l2_sign = show_sign(@k1d_ma20_updown[0])
l2_size = @k1d_ma10_updown.size
l2_class = set_class('@k1d_ma10',l2_sign,l2_size)
l2_link = "/main/update_ave_price_vs_ma?value=@k1d_ma10"
l3_sign = show_sign(@k1d_ma20_updown[0])
l3_size = @k1d_ma20_updown.size
l3_class = set_class('@k1d_ma20',l3_sign,l3_size)
l3_link = "/main/update_ave_price_vs_ma?value=@k1d_ma20"
%>
走势：
  <span title="<%=spt%> MA<%=@short_ma[0]%>" class="<%=s1_class%>"><%= link_to @k60m_ma5, s1_link %>
    <span class="small_note"><%=s1_sign%><%=s1_size%></span></span>
  <span title="<%=spt%> MA<%=@short_ma[1]%>" class="<%=s2_class%>"><%= link_to @k60m_ma10, s2_link %>
    <span class="small_note"><%=s2_sign%><%=s2_size%></span></span>
  <span title="<%=spt%> MA<%=@short_ma[2]%>" class="<%=s3_class%>"><%= link_to @k60m_ma20, s3_link %>
    <span class="small_note"><%=s3_sign%><%=s3_size%></span></span>
  <span title="<%=lpt%> MA<%=@long_ma[0]%>" class="<%=l1_class%>"><%= link_to @k1d_ma5, l1_link %>
    <span class="small_note"><%=l1_sign%><%=l1_size%></span></span>
  <span title="<%=lpt%> MA<%=@long_ma[1]%>" class="<%=l2_class%>"><%= link_to @k1d_ma10, l2_link %>
    <span class="small_note"><%=l2_sign%><%=l2_size%></span></span>
  <span title="<%=lpt%> MA<%=@long_ma[2]%>" class="<%=l3_class%>"><%= link_to @k1d_ma20, l3_link %>
    <span class="small_note"><%=l3_sign%><%=l3_size%></span></span>
  <%=@ma_trend%>
  <br/>
价格：
  <span><%=@k60m.size%>笔:<span title="现价/MA<%=@short_ma[0]%>"><%=@p60m_ma5%>%</span>|<span title="区间最低价"><%=@k60m_lowest%></span>-<span title="区间最高价"><%=@k60m_highest%></span>-<span title="区间成交最多的收盘价"><%=@k60m_volume_price%></span>|<%=@k1d.size%>笔:<span title="现价/MA<%=@long_ma[0]%>"><%=@p1d_ma5%>%</span>|<span title="区间最低价"><%=@k1d_lowest%></span>-<span title="区间最高价"><%=@k1d_highest%></span>-<span title="区间成交最多的收盘价"><%=@k1d_volume_price%></span></span>
  <br/>
区间：
  <span>
<% [1,5,15,30,60].each do |n| %>
  <%= link_to("#{n}m","/main/btc_income?update_btc_price=1&kline_short_period=#{n}min") %>
<% end %>
<% [40,80,120].each do |n| %>
  <%= link_to("#{n}.","/main/btc_income?update_btc_price=1&kline_short_size=#{n}") %>
<% end %>|
<% %w(60min 4hour 1day 1week).each do |w| %>
  <%= link_to(period_title(w),"/main/btc_income?update_btc_price=1&kline_long_period=#{w}") %>
<% end %>
<% [40,80,120,160].each do |n| %>
  <%= link_to("#{n}.","/main/btc_income?update_btc_price=1&kline_long_size=#{n}") %>
<% end %>
</span>
  <br/>
<% end %>
操作：
  <span>
    <% if @try_buy_price > 0 and @try_buy_unit != 0 %>
      额度：<%=@try_trade_twd%>|¥<%=@try_trade_cny%>|$<%=@try_trade_usd%>|预计下次交易时间:<%=@next_trade_time.strftime("%Y-%m%d %H:%M")%>(<%=@next_trade_hours%>小时)
    <% else %>
      <%=@last_trade_str%> ~ <%=@next_trade_str%>
      <% if @next_operate_hours > 0 %>
        <% label_diff = @remain_minutes_to_order > 0 ? "剩余" : "超过" %>
      |<%=label_diff%>:<span class="<%=@next_operate_warn%>"><%=@remain_minutes_to_order.abs%>分</span>|<%=@trade_type%>:<span title="¥<%=@trade_cny%>|$<%=@trade_usd%>"><%=@trade_twd%> TWD|</span>占比:<%=@trade_usd_p%>%
      <% end %>
    <% end %>
    <% if @total_open_orders_num and @total_open_orders[:buy_ids].size > 0 %>
      <span class="red_warn" title="<%=@btc_order_log%>"><%= link_to "未成交(#{@total_open_orders[:buy_ids].size})", "/main/del_huobi_orders?aid=#{@aid}&order_ids=#{@total_open_orders[:buy_ids].join(",")}" %></span>
    <% end %>
    <% if @total_open_orders_num and @total_open_orders[:sell_ids].size > 0 %>
      <span class="cold_warn" title="<%=@btc_order_log%>"><%= link_to "未成交(#{@total_open_orders[:sell_ids].size})", "/main/del_huobi_orders?aid=#{@aid}&order_ids=#{@total_open_orders[:sell_ids].join(",")}" %></span>
    <% end %>
  </span><br/>
</h4>
<hr/>
<form method="get" id="try_btc_form">
<% if @update_btc_price %>
  <input type="hidden" name="update_btc_price" value="1"/>
<% end %>
<h4>
价位<input type="text" style="width:<%=@text_input_width%>px" name="try_buy_price" value="<%=params[:try_buy_price]%>" onclick="this.select()">
    <% if @try_trade_twd -%>
    <span class="<%=@buy_unit_hint%>"><%end%>买卖<% if @try_trade_twd -%></span><%end%><input type="text" style="width:<%=@text_input_width%>px" name="try_buy_unit" value="<%=params[:try_buy_unit]%>" onclick="this.select()"><span class="<%=@set_price_hint%>">定价</span><input type="text" style="width:<%=@text_input_width%>px" name="try_set_price" value="<%=params[:try_set_price]%>" onclick="this.select()"><span class="<%=@ave_price_hint%>">均价</span><input type="text" style="width:<%=@text_input_width%>px" name="try_ave_price" value="<%=params[:try_ave_price]%>" onclick="this.select()">
    <span class="<%=@set_level_hint%>">仓位</span><input type="text" style="width:<%=@text_input_width%>px" name="try_set_level" value="<%=params[:try_set_level]%>" onclick="this.select()">
    <span class="<%=@set_amount_hint%>">定额</span><input type="text" style="width:<%=@text_input_width%>px" name="try_set_amount" value="<%=params[:try_set_amount]%>" onclick="this.select()">
    <input type="submit" value="试算" style="margin-left:1em">
    <% if @clear_sell_all or (@enable_order and (@cal_mode == "LEV" or @cal_mode == "BUY"  or @cal_mode == "AMT") and @try_buy_price != 0 and @try_buy_unit != 0) %>
      <% @try_trade_type = @try_buy_unit > 0 ? '买进' : '卖出' %>
      <% cal_order_amount(@try_buy_price,@try_buy_unit) # 计算下单总额度 %>
      <%= link_to "下单(#{@try_trade_type}:#{show_btc_sum(@try_buy_unit.abs.to_s,6)} BTC 价格:#{@try_buy_price} 总额:#{@order_amount_twd}|¥#{@order_amount_cny}|$#{@order_amount_usd})", {:action => :place_btc_order, :aid => @aid, :price => @try_buy_price, :count => @try_buy_unit, :ave_price => @unit_ave_price}, :class => "order_button_link" -%>
    <% end %>
</h4>
</form>
<hr/>
<% form_tag :action => "btc_income", :method => :post do -%>
  <input type="hidden" name="from_my_motto_form" value="1"/>
  <%= text_area_tag 'my_motto', @my_motto, :size => "70x13", :class => "my_motto" %>
  <%= image_submit_tag('icon/empty.gif', :width=> 10) %>
<% end %>
