<% @text_input_width = 50 %>
<h4>
<%= link_to "总数：", :action => :btc_income %>
  <span title="<%=@my_btc%>"><%=show_btc_sum(@btc_sum_ex.to_s)%>/<%=format("%.8f",@btc_sum)%></span>|<span title="总数：<%=@trezor_jie7206_sum%>，占比：<%=@trezor_jie7206_p%>%，成本：<%=@trezor_cost_twd%>，均价：$<%=@trezor_ave_price%>，投资报酬率：<%=@trezor_profit%>%"><%=@trezor_jie7206_twd%></span>/<%=@btc_value_twd%>|¥<%=@btc_value_cny%>|$<%=@btc_value_usd%><br/>
<%= link_to "获利：", :action => :btc_income, :update_btc_price => 1 %>
  <%=@btc_total_profit_twd%>|¥<%=@btc_total_profit_cny%>|$<%=@btc_total_profit_usd%>|<%=format("%.0f", @btc_total_profit_rate)%>%|<span title="初始本金：<%=@btc_total_budget_warning%>，可用余额：<%=@total_usdt_twd.to_i%>|¥<%=@total_usdt_cny%>|$<%=@total_usdt_usd%>，贷款利息：<%=@total_loan_interests_value%>，从<%=@loan_begin_date%>到<%=@next_jinruyi_back_date%>共有<%=@loan_lixi_days%>天，届时贷款余额为<%=@loan_amount%>"><%=@total_usdt_twd.to_i%>(<%=@total_usdt_usd%>)</span>-><span title="最多能持有的比特币总数"><%=format("%.4f",@max_ex_sum)%>/<%=format("%.4f",@max_btc_sum)%></span>
  <br/>
仓位：
  <span title="¥<%=@ex_cost_cny%>|$<%=@ex_cost_usd%>"><%=@ex_cost_twd%></span>|<%=format("%.2f",@ex_cost_twd_level)%>%|<span title="¥<%=@btc_hold_cny%>|$<%=@btc_hold_usd%>"><%=@btc_hold_twd%></span>/<span class="<%=@btc_total_budget_warn%>" title="现值：¥<%=@btc_total_budget_cny%>|$<%=@btc_total_budget_usd%>，初始本金：<%=@btc_total_budget_warning%> TWD"><%=@btc_total_budget_twd%></span>|<%=format("%.2f",@btc_hold_twd_level)%>%
  均价:<%=@trezor_ave_price%>/<span class="<%=@ave_price_warn%>"><%=format("%.2f", @unit_ave_price)%><span class="small_price_diff"><%=@aveprice_shortma_diff_str%></span></span>
  <br/>
损益：
  <%= link_to format("%.2f",@btc_price), "http://playruby.top:3002/main/kline_chart?symbol=#{@symbol}&period=5min", {:target => "_blank", :title => "汇率：C2T:#{@cny2twd}|U2T:#{@usd2twd}|U2C:#{@usd2cny}|U2H:#{@usdt2husd}"} %>|<span class="<%=@twd_profit_warn%>"><%=@btc_profit_twd%></span>|<span class="<%=@cny_profit_warn%>">¥<%=@btc_profit_cny%></span>|<span class="<%=@usd_profit_warn%>">$<%=@btc_profit_usd%></span>|<span class="<%=@btc_profit_warn%>"><%=format("%.1f", @btc_profit_rate)%>%</span><span title="超过<%=@btc_harvest_unit%>BTC即可卖出[<%=@btc_sum_ex-@btc_harvest_unit%>]BTC平仓(包含每月<%=@btc_month_goal_twd%>|¥<%=@btc_month_goal_cny%>|$<%=@btc_month_goal_usd%>的收益)">
    <% if @btc_sum_ex-@btc_harvest_unit > 0 %>
    <%= link_to "平仓:", "/main/btc_income?try_buy_price=#{@settle_price}&try_buy_unit=-#{show_btc_sum((@btc_sum_ex-@btc_harvest_unit).to_s)}" %>
    <% else %>
      平仓:
    <% end %>
    <span class="<%=@harvest_unit_warn%>" title="单位：BTC"><%=format("%.4f",@settle_profit)%></span>|$<%=@settle_price%>|<%=link_to(@total_asset_value, {:controller => 'param_changes', :action => 'new', :param_id => '129'}, {:title => "¥#{(@total_asset_value/@cny2twd).to_i}|$#{(@total_asset_value/@usd2twd).to_i}", :target => '_blank'})%>|<span title="平均月收入：<%=@ave_month_income_twd%>|¥<%=@ave_month_income_cny%>|$<%=@ave_month_income_usd%>"><%=link_to(format("%.0f",(@ave_month_income_twd/10000.0))+"萬", {:action => "life_pay"}, {:target => "_blank"})%></span></span>
  <br/>
<% if @update_btc_price %>
<%
spt = period_title(@kline_short_period)
lpt = period_title(@kline_long_period)
%>
量能：
<span title="<%=@symbol.upcase%>交易对"><%=spt%>:<span title="MA<%=@short_ma[0]%>"><%=@k60m_ama5%></span>-<span title="MA<%=@short_ma[1]%>"><%=@k60m_ama10%></span>-<span title="MA<%=@short_ma[2]%>"><%=@k60m_ama20%></span>:<span title="买卖比"><%=@bsp60m%></span>|<%=lpt%>:<span title="MA<%=@long_ma[0]%>"><%=@k1d_ama5%></span>-<span title="MA<%=@long_ma[1]%>"><%=@k1d_ama10%></span>-<span title="MA<%=@long_ma[2]%>"><%=@k1d_ama20%></span>:<span title="买卖比"><%=@bsp1d%></span>|<%=@ama_trend%></span>
<br/>
<%
def set_class(sign,size,num=3)
  result = (sign == '+' and size >= num) ? 'red_warn' : 'square_warn'
  (sign == '-' and size >= num) ? 'green_warn' : result
end
s1_sign = show_sign(@k60m_ma5_updown[0])
s1_size = @k60m_ma5_updown.size
s1_class = set_class(s1_sign,s1_size)
s2_sign = show_sign(@k60m_ma10_updown[0])
s2_size = @k60m_ma10_updown.size
s2_class = set_class(s2_sign,s2_size)
s3_sign = show_sign(@k60m_ma20_updown[0])
s3_size = @k60m_ma20_updown.size
s3_class = set_class(s3_sign,s3_size)
l1_sign = show_sign(@k1d_ma20_updown[0])
l1_size = @k1d_ma5_updown.size
l1_class = set_class(l1_sign,l1_size)
l2_sign = show_sign(@k1d_ma20_updown[0])
l2_size = @k1d_ma10_updown.size
l2_class = set_class(l2_sign,l2_size)
l3_sign = show_sign(@k1d_ma20_updown[0])
l3_size = @k1d_ma20_updown.size
l3_class = set_class(l3_sign,l3_size)
%>
走势：
  <span title="<%=spt%> MA<%=@short_ma[0]%>" class="<%=s1_class%>"><%=@k60m_ma5%>
    <span class="small_note"><%=s1_sign%><%=s1_size%></span></span>
  <span title="<%=spt%> MA<%=@short_ma[1]%>" class="<%=s2_class%>"><%=@k60m_ma10%>
    <span class="small_note"><%=s2_sign%><%=s2_size%></span></span>
  <span title="<%=spt%> MA<%=@short_ma[2]%>" class="<%=s3_class%>"><%=@k60m_ma20%>
    <span class="small_note"><%=s3_sign%><%=s3_size%></span></span>
  <span title="<%=lpt%> MA<%=@long_ma[0]%>" class="<%=l1_class%>"><%=@k1d_ma5%>
    <span class="small_note"><%=l1_sign%><%=l1_size%></span></span>
  <span title="<%=lpt%> MA<%=@long_ma[1]%>" class="<%=l2_class%>"><%=@k1d_ma10%>
    <span class="small_note"><%=l2_sign%><%=l2_size%></span></span>
  <span title="<%=lpt%> MA<%=@long_ma[2]%>" class="<%=l3_class%>"><%=@k1d_ma20%>
    <span class="small_note"><%=l3_sign%><%=l3_size%></span></span>
  <%=@ma_trend%>
  <br/>
价格：
  <span><%=@k60m.size%>笔:<span title="现价/MA<%=@short_ma[0]%>"><%=@p60m_ma5%>%</span>|<span title="区间最低价"><%=@k60m_lowest%></span>-<span title="区间最高价"><%=@k60m_highest%></span>-<span title="区间成交最多的收盘价"><%=@k60m_volume_price%></span>|<%=@k1d.size%>笔:<span title="现价/MA<%=@long_ma[0]%>"><%=@p1d_ma5%>%</span>|<span title="区间最低价"><%=@k1d_lowest%></span>-<span title="区间最高价"><%=@k1d_highest%></span>-<span title="区间成交最多的收盘价"><%=@k1d_volume_price%></span></span>
  <br/>
区间：
  <span>
<% [1,5,15,30,60].each do |n| %>
  <%= link_to("#{n}m","/main/btc_income?update_btc_price=1&kline_short_period=#{n}min") %>
<% end %>
<% [40,80,120].each do |n| %>
  <%= link_to("#{n}.","/main/btc_income?update_btc_price=1&kline_short_size=#{n}") %>
<% end %>|
<% %w(60min 4hour 1day 1week).each do |w| %>
  <%= link_to(period_title(w),"/main/btc_income?update_btc_price=1&kline_long_period=#{w}") %>
<% end %>
<% [40,80,120,160].each do |n| %>
  <%= link_to("#{n}.","/main/btc_income?update_btc_price=1&kline_long_size=#{n}") %>
<% end %>
</span>
  <br/>
<% end %>
操作：
  <span>
    <% if @try_buy_price > 0 and @try_buy_unit != 0 %>
      额度：<%=@try_trade_twd%>|¥<%=@try_trade_cny%>|$<%=@try_trade_usd%>|预计下次交易时间:<%=@next_trade_time.strftime("%Y-%m%d %H:%M")%>(<%=@next_trade_hours%>小时)
    <% else %>
      <%=@last_trade_str%> ~ <%=@next_trade_str%>
      <% if @next_operate_hours > 0 %>
        <% minutes_diff = (@next_operate_time-Time.now).to_i/60 %>
        <% label_diff = minutes_diff > 0 ? "剩余" : "超过" %>
      |<%=label_diff%>:<span class="<%=@next_operate_warn%>"><%=minutes_diff.abs%>分</span>|<%=@trade_type%>:<span title="¥<%=@trade_cny%>|$<%=@trade_usd%>"><%=@trade_twd%> TWD|</span>占比:<%=@trade_usd_p%>%
      <% end %>
    <% end %>
    <% if @total_open_orders_num and @total_open_orders[:buy_ids].size > 0 %>
      <span class="red_warn"><%= link_to "未成交(#{@total_open_orders[:buy_ids].size})", "/main/del_huobi_orders?order_ids=#{@total_open_orders[:buy_ids].join(",")}" %></span>
    <% end %>
    <% if @total_open_orders_num and @total_open_orders[:sell_ids].size > 0 %>
      <span class="green_warn"><%= link_to "未成交(#{@total_open_orders[:sell_ids].size})", "/main/del_huobi_orders?order_ids=#{@total_open_orders[:sell_ids].join(",")}" %></span>
    <% end %>
  </span><br/>
</h4>
<hr/>
<form method="get" id="try_btc_form">
<% if @update_btc_price %>
  <input type="hidden" name="update_btc_price" value="1"/>
<% end %>
<h4>
  <!-- <ul style="margin-left:-1em">
    <li>安全性：成本均价在5分MA30以下且价差大于10%<span style="font-weight:bold;color:green;margin:0em 0.35em">√</span></li>
    <li>方向性：60分MA30持续10次走扬宜分批加仓做多<span style="font-weight:bold;color:red;margin:0em 0.3em;font-size:1.4em">↑</span></li>
    <li>下一步：5分MA30持续10次走扬可分批加仓做多<span style="margin:0em 0.05em;font-size:1.4em">💰</span></li>
  </ul> -->
价位<input type="text" style="width:<%=@text_input_width%>px" name="try_buy_price" value="<%=params[:try_buy_price]%>" onclick="this.select()">
    <% if @try_trade_twd -%>
    <span class="<%=@buy_unit_hint%>"><%end%>买卖<% if @try_trade_twd -%></span><%end%><input type="text" style="width:<%=@text_input_width%>px" name="try_buy_unit" value="<%=params[:try_buy_unit]%>" onclick="this.select()"><span class="<%=@set_price_hint%>">定价</span><input type="text" style="width:<%=@text_input_width%>px" name="try_set_price" value="<%=params[:try_set_price]%>" onclick="this.select()"><span class="<%=@ave_price_hint%>">均价</span><input type="text" style="width:<%=@text_input_width%>px" name="try_ave_price" value="<%=params[:try_ave_price]%>" onclick="this.select()"><span class="<%=@set_amount_hint%>">限额</span><input type="text" style="width:<%=@text_input_width%>px" name="try_set_amount" value="<%=params[:try_set_amount]%>" onclick="this.select()"><span class="<%=@set_level_hint%>">仓位</span><input type="text" style="width:<%=@text_input_width%>px" name="try_set_level" value="<%=params[:try_set_level]%>" onclick="this.select()"><span class="<%=@set_batch_hint%>">分批</span><input type="text" style="width:<%=@text_input_width%>px" name="try_set_batch" value="<%=params[:try_set_batch]%>" onclick="this.select()"><input type="submit" value="试算" style="margin-left:1em">
    <% if @try_buy_price != 0 and @try_buy_unit != 0 %>
      <% @try_trade_type = @try_buy_unit > 0 ? '买进' : '卖出' %>
      <%= link_to "下單(#{@try_trade_type}:#{format("%.6f",@try_buy_unit.abs)} BTC 价格:#{@try_buy_price} 总额:$#{format("%.2f",@try_buy_unit.abs*@try_buy_price)})", {:action => :place_btc_order, :price => @try_buy_price, :count => format("%.6f",@try_buy_unit)}, :class => "order_button_link" -%>
    <% end %>
</h4>
<!--
<hr/>
<h4>
  林买入额<input type="text" style="width:<%=@text_input_width%>px" name="h135_cost_change">资产<input type="text" style="width:<%=@text_input_width%>px" name="h135_btc_sum">BTC<input type="text" style="width:<%=@text_input_width%>px" name="h135_usd_sum">USD|孟买入额<input type="text" style="width:<%=@text_input_width%>px" name="h170_cost_change">资产<input type="text" style="width:<%=@text_input_width%>px" name="h170_btc_sum">BTC<input type="text" style="width:<%=@text_input_width%>px" name="h170_usd_sum">USD<input type="submit" value="更新" style="margin-left:1em">
</h4>
//-->
</form>
<hr/>
<% form_tag :action => "btc_income", :method => :post do -%>
  <%= text_area_tag 'my_motto', @my_motto, :size => "70x12", :class => "my_motto" %>
  <%= image_submit_tag('icon/empty.gif', :width=> 10) %>
<% end %>
